[user]
    name = Brian Lee
    email = brian.lee@cybergrx.com
[push]
    default = simple
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    ap = add -p
    ci = commit -m
    cn = commit -n -m
    co = checkout
    cp = checkout -p
    dc = diff --cached
    lp = log -p
    pd = pull origin develop
    st = status
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
    navigate = true
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
